# Cloudflare R2 Storage Configuration
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=

# Internet Archive Storage Configuration
INTERNET_ARCHIVE_ACCESS_KEY=
INTERNET_ARCHIVE_SECRET_KEY=
INTERNET_ARCHIVE_ITEM_NAME=
